img {
  float: left;
  border: 2px solid black;
}

.animal {
    width: 280px;
    float: left;
    background-color: blue;
}

h2 {
  font-weight: bold;
  color: aqua;
}

h3 {
  font-family: cursive;
  color: coral;
}

h4 {
  font-weight: lighter;
  color: aliceblue;
  font-size: medium;
}

ul {
  font-weight: bolder;
  font-size: x-large;
}
h1 {
  text-align: center;
}